/*--------------------------------
1.2 MIXINS
--------------------------------*/
// @mixin selector($attribute) and then @include selector(attribute ex. 10px)are great for vendor prefixes

// @extend .class reuse classes with this sass feature

// learn more about sass here http://sass-lang.com/guide

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }

  @mixin transition($prop, $duration) {
    -webkit-transition: $prop, $duration;
    -moz-transition: $prop, $duration;
    -ms-transition: $prop, $duration;
    transition: $prop, $duration;
  }

  @mixin placeholder {
    ::-webkit-input-placeholder {@content};
    :-moz-placeholder           {@content};
    ::-moz-placeholder          {@content};
    :-ms-input-placeholder      {@content};
  }

