.settlements {
    background: url('../img/bg_verdicts.jpg') top center no-repeat;
    background-size: cover;
  }

  .counter {
    color: white;
    font-size: 5em;
    font-weight: 400;
  }

  .settlements-header {
    color: white;
    font-size: 30px;
  }